@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

@{
    ViewData["Title"] = "Administrar Roles";
    ViewData["ClassBody"] = "cs";

}


<a asp-action="Create" class="btn btn-primary"> <i class="fas fa-plus"></i> Crear un rol</a>

<table class="table table-bordered table-hover">
    <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Usuarios</th>
        <th>Actualizar </th>
        <th>Eliminar</th>
    </tr>
    @foreach (var role in Model)
    {
<tr>
    <td>@role.Id</td>
    <td>@role.Name</td>
    <td i-role="@role.Id"></td>
    <td>
        <a class="btn btn-sm btn-primary" asp-controller="Role" asp-action="Update" asp-route-id="@role.Id">
            <i class="fas fa-edit"></i>Editar
        </a>
    </td>
    <td>
        <form asp-controller="Role" asp-action="Delete" asp-route-id="@role.Id" method="post">
            <button type="submit" class="btn btn-sm btn-danger"><i class="fas fa-trash"></i>Eliminar</button>
        </form>
    </td>
</tr>
    }
</table>